<%- include('../partials/header') %>

<body>
 
  <!-- <ul>Registered Users:
    <%# users.forEach(u => { %>
      <li><%#= u.name %></li>
    <%# }) %>
  </ul> -->


<%- include('../partials/footer') %>