<%- include('../partials/header') %>

<h1>Prayer Requests</h1>
    <ul>
      <%# if (prayers){ %>

        <%# prayers.forEach(function(p) { %>
          <li>
            <form action="/prayers/<%#= p.id %>?_method=DELETE" method="POST" class="delete-form">
              <button type="submit">Delete</button>
            </form>  
            <a href="/prayers<%#= p.id %>"><%#= p.prayer %></a>
            - 
            <%#= p.done ? 'Answered' : 'Not Answered Yet' %>
          </li>
          <%# }); %>
        </ul>
        <a href="/prayers/new">Add Prayer</a>        
      <%# } %> 



<%- include('../partials/footer') %>