
<%- include('../partials/header') %>


<h1>Add New Prayer</h1>
<form action="/prayers" method="POST">
        <div class="form-group">
          <input type="text" name="content" class="form-control" placeholder="type here...">
        </div>
       <button type="submit" class="btn btn-primary">Save Prayer</button>
      </form>



<%- include('../partials/footer') %>
