
<%- include('../partials/header') %>


<h1>Add New Prayer</h1>
<form action="/prayers" method="POST"></form>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input type="text" name="prayer" class="form-control" id="exampleInputPassword1" placeholder="type here...">
        </div>
       <a href="/prayers" type="submit" class="btn btn-primary" name="prayer">Save Prayer</a> 
      </form>



<%- include('../partials/footer') %>
