<%- include('../partials/header') %>



    <div class="subheader">
      <div class="container flex">
        <div class="subheadings">
          <h2>Select a Book</h2>
          <%# if(book){ %>
            <%# book.forEach(bible =>{ %>
              <div>
                <div>
                  <h2 id="chapter"><%#= bible.book_name %> </h2>
                  <h3><%#= bible.book_nr %> </h3>
                  <p><%#= bible.verse_nr %> <%#= bible.verse %> </p>
                  <h4 id="verse"></h4>
                  <p>...</p>
                  <h4 id="chapter">one</h4>
                  <p>...</p>
                  <h4 id="verse">two</h4>
                  <p>...</p>
                  <h4 id="chapter">three</h4>
                  <p>...</p>
                </div>
                </div>
              </div>
            <%# }) %>
          <%# } %>
        </div>
      </div>
    </div>
    <main class="container">
      <div id="bible-version-list" class="list-container bible-list"></div>
    </main>
    

    <%- include('../partials/footer') %>